.card {
  background-color: #edf678;
  border-radius: 10px;
  transition:transform 100ms ease-in-out;
  box-shadow: 10px rgb(0,0,0,0.01);
}

.card:hover {
  transform: scale(1.05);
}

.card h1 {
  text-align: center;
}

.img-conteiner {
  text-align: center;
}